{% extends 'layout.html' %}

{% block title %}
    {{titulo}}
{% endblock title %}

{% block content %}
    <h1 class="title"> {{titulo}} </h1>
    {% if messages %}
        {% for message in messages %}
            <div class="message">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}

    
    {% for region in regiones %}
        <div class="articulo-item">
            {% if region.imagen != 'null' %}
                <div class="image">
                    <img src="{{region.imagen.url}}" />
                </div>
            {% endif %}
            <div class="data">
                <h2>
                    {{region.name}}
                </h2>
                <span class="date">
                    Creado: {{region.date}}
                </span>
                <p>
                    {{region.cases}}<br>
                    {{region.deaths}}<br>
                    {{region.lethality}}<br>
                    <a href="{% url 'eliminar_region' id=region.id %}" class="btn btn-delete">
                        Eliminar
                    </a>
                </p>
            </div>
            <div class="clearfix">
            </div>
        </div>    
    {% endfor %}
    
{% endblock content %}